<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>RecruitingSystem</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>
    <script src="/js/j_script.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <script src="/js/jquery.tmpl.js"></script>
    <script src="/js/jquery-1.4.3.js"></script>
    <script src="/js/validator.js"></script>
    <style type="text/css">
        #content {
            width: 500px;
            margin: 0 auto 50px;
        }

        .footer {
            bottom: 0;
            padding: 10px;
            color: #fff;
        }
    </style>
</head>
<body role="document">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse" style="width: 100%">
            <ul class="nav navbar-nav">
                <a class="navbar-brand" href="/"><span
                        style="color: #ffffff;font-size: 18px"><strong>RecruitingSystem</strong></span></a>
                <li><a href="/"><b>Employees</b></a></li>
                <li><a href="/department/list.html"><b>Departments</b></a></li>
                #if(!${authz.allGranted("ROLE_ADMIN")})
                    <li><a href="/editor/login.html"><b>Login</b></a></li>
                #end
                #if(${authz.allGranted("ROLE_ADMIN")})
                    <li><a href="/employee/add.html"><b>Add employee</b></a></li>
                #end
                #if(${authz.allGranted("ROLE_ADMIN")})
                    <li><a href="/department/add.html"><b>Add department</b></a></li>
                #end
                #if(${authz.allGranted("ROLE_ADMIN")})
                    <li><a href="/editor/registration.html"><b>Registration</b></a></li>
                #end
                #if(${authz.allGranted("ROLE_ADMIN")})
                    <li><a href="/logout.html"><b>Logout</b></a></li>
                #end
            </ul>
        </div>
    </div>
    <div class="navbar-fixed-top"
         style="border-radius:6px;width: 200px;height:50px;margin:0 0 0 0;float:right">
        <table align=center style="height: 100%">
            <tr style="height: 100%">
                <td align=center valign=center>
                    <strong><span style="font-size:26px"><span
                            style="color:rgb(0, 254, 255)">IonIdea</span></span></strong>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="center-block" style=";width:80%;height: 100%">
    <div style="margin: 70px 36% 15px;width: 400px;height: 30px">
        <form method="get" action="/employee/search.html">
            <input placeholder="Search Employee"
                   style="border-radius:6px;border:2px solid #00b958;height:33px;width: 400px " type="text"
                   name="searchInput"/>
        </form>
    </div>
    <div style="margin:10% 36% 15px;">
        <br>

        <form action="/employee/save.html" method="get"
              onsubmit="return IsNumeric()&&validateDate()&& validateDepartment()&& validateFirstName()&&validateLastName();">
            <input style="border-radius:6px;border:2px solid rgba(0, 103, 251, 0.54);height:33px;width: 400px;height: 30px"
                   class="input"
                   placeholder="First name" id="first_name" name="first_name" type="text"/>
            <input style="border-radius:6px;border:2px solid rgba(0, 103, 251, 0.54);height:33px;width: 400px;height: 30px"
                   class="input"
                   placeholder="Last name" id="last_name" name="last_name" type="text"/>
            <select style="border-radius:6px;border:2px solid rgba(0, 103, 251, 0.54);height:33px;width: 400px;height: 30px"
                    id="departmentId"
                    name="departmentId">
                #foreach($department in $allDepartments)
                    <option value="${department.id}">${department.department_name}</option>
                #end
            </select>
            <input style="border-radius:6px;border:2px solid rgba(0, 103, 251, 0.54);height:33px;width: 400px;height: 30px"
                   class="input" id="birth_date" name="birth_date" type="date" min="1900-01-01"/>

            <input style="border-radius:6px;border:2px solid rgba(0, 103, 251, 0.54);height:33px;width: 400px;height: 30px"
                   type="date" id="recruited_date" name="recruited_date">

            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input style="border-radius:6px;border:2px solid rgba(0, 103, 251, 0.54);height:33px;width: 367px;height: 30px"
                       type="number"
                       name="salary" id="employee_salary" step="0.01"
                       required="required" autocomplete="off"
                       min="0"
                       class="form-control"
                       value="1000.00">
            </div>
            <br>
            <button style="border-radius:6px;border:2px solid rgba(0, 103, 251, 0.54);height:33px;width: 400px;height: 30px"
                    class="btn btn-info"
                    type="submit"><strong>Save</strong>
            </button>
        </form>
    </div>
</div>
<script id="jsbin-javascript">
    var date = new Date();
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;
    var today = year + "-" + month + "-" + day;

    $("#recruited_date").attr("min", today);
    $("#recruited_date").attr("value", today);
    $("#recruited_date").attr("max", today);
    $("#birth_date").attr("value", today);
    $("#birth_date").attr("max", today);
</script>
</body>
</html>